.recomended{
      max-width: 29%;
}
.side-vedio-list{
     display: flex;
     justify-content: space-between;
     margin-bottom: 0.5rem;
     gap: 0.5rem;
}
.side-vedio-list img{
      max-width: 48%;
   
 }
.video-info h4{
font-size: 13px;
margin-bottom: 5px;
} 






@media screen  and (max-width:768px){
      .recomended{
            max-width: 100%;
      }
      .video-info{
            overflow: hidden;
            padding: 1rem;
            display: flex;
            flex-direction: column;

            flex-wrap: wrap;
            
      }
    }